04/**/
06/**/*.hack
07/**/*.asm
!07/VMTranslator*/*.asm
!07/VMTranslator/*.asm
08/**/*.asm
!08/VMTranslator08/*.asm
09/**/*.vm
10/**/*.xml
11/**/*.vm
12/**/*.vm
12/*Test/*.jack
12/*Test/!Main.jack

00/
demo/

*.out